.media
  .pull-left
    = comment.user.username
  .media-body
    %p.media-heading.pull-right
      = time_ago_in_words(comment.created_at)
    %br/
    = comment.body
= link_to "Edit", edit_article_comment_path(comment.article, comment)
= link_to "Delete", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" }
