.row
  / Blog article Content Column
  .col-lg-8
    - @articles.each do |article|
      / Blog article
      / Title
      %h4{:style => "font-size: 45.5px;"}= link_to article.title, article
      / Date/Time
      %p
        %span.glyphicon.glyphicon-time
      / Author
      %p
        Article By:
        %strong
          = article.user.username
      %hr/
      / articleed Comments
      / Comment
    = link_to "New article", new_article_path, class: "btn btn-default btn-xs"
  / Blog Sidebar Widgets Column
  .col-md-4
    .well
      %h4 Recent articles
      - @last5.each do |a|
        Created by: #{a.user.username}
        %br/
        %strong= link_to a.title, a
        %p= truncate(a.body)
= will_paginate @articles
%br/
