/ Index Page
.row
  / Blog Post Content Column
  .col-lg-8
    / Blog Post
    / Title
    %h1{ style: "font-size: 62.5px;" }
      = @article.title
    / Author
    %p.lead
      = @article.user.username
    %hr/
    / Date/Time
    %p
      %span.glyphicon.glyphicon-time
      Was Posted:
      = time_ago_in_words(@article.created_at)
    %hr/
    / Post Content
    = @article.body
    %hr/
    / Blog Comments
    = render @article.comments
    %hr/
    / Comments Form
    = render 'comments/form'
    %hr/
    / Posted Comments
    / Comment
  / Blog Sidebar Widgets Column
  .col-md-4
    / Blog Search Well
    / Blog Categories Well
    / Side Widget Well
    .well
      %h4 Recent Post
= link_to 'Edit', edit_article_path(@article)
|
= link_to 'Back', articles_path
%br/
%br/
