.row
  .col-lg-8
    / Blog Post
    / Title
    .jumbotron
      %h1 Welcome to Andre's Articles.
      %p Awesome applications built with Rails!
      %p
  / Blog Sidebar Widgets Column
  .col-md-4
    / Blog Categories Well
    / Side Widget Well
    .well
      %h4 Recent Posts
      - @articles.each do |a|
        Created by: #{a.user.username}
        %br/
        %strong= link_to a.title, a
        %p= truncate(a.body)
/ /.row
%hr/
