%footer.footer-distributed.navbar-fixed-bottom
  .footer-right
    %a{:href => "#"}
      %i.fa.fa-facebook
    %a{:href => "#"}
      %i.fa.fa-twitter
    %a{:href => "#"}
      %i.fa.fa-linkedin
    %a{:href => "#"}
      %i.fa.fa-github
  .footer-left
    %p.footer-links
      ·
      \#{link_to "Contact Us", pages_contact_path, class: "page-scroll"}
      ·
      \#{link_to "About Us", pages_about_path, class: "page-scroll"}
      ·
    %p
