%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Andre's Articles", root_path, class: 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Contact Us", pages_contact_path
        %li= link_to "About Us",  pages_about_path
        %li= link_to "View Articles", articles_path
        - if !current_user
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Sign in",  new_user_session_path
        - else
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.username
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li= link_to "Edit My Profile", edit_user_registration_path
              %li.divider{:role => "separator"}
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
    / /.navbar-collapse
  / /.container-fluid
